body {
    padding: 0;
    margin:0;
}

ul li{
    font-size: 14px;
    list-style-type: none;
    display: flex;
    font-family: sans-serif;
    margin-top: 10px;
}

.nav1 li{
    float:left;
    margin-left:9px;
}

.nav1 li:hover{
text-decoration: underline;
}

.nav2 li{
    float: right;
    padding: 10px;
    margin-right:10px;
    margin-bottom: 10px;
}

.nav2 li:hover{
    text-decoration: underline;
    }

.name {
    margin-top: 3px;
    background: #596C9A;
    border-radius: 50%;
    font-size: 14px;
    color: white;
    background-size: 32px 32px;
    border: 4px solid white;
}

.name:hover {
 border: 4px solid rgb(219, 218, 218);
}

.fas:hover{
    background: rgb(219, 218, 218);
    border-radius: 50%;
}

.clear{
    clear: both;
}

main {
    min-height: 150px;
    margin-left:10%;
    margin-right:10%;
    position: relative;
}

main p{
    display:inline;
    font-size: 80px;
    font-family: 'Lexend Mega', sans-serif;
    margin-left:-6px;
    font-weight: 600;
}

@media (min-width: 2px) and (max-width: 700px) {
    main p {
        font-size: 70px
    }
  }

.google{
    color: black;
    position: absolute;
    left:30%;
    margin: auto;
    margin-top:10px;
}

@media (min-width: 2px) and (max-width: 700px) {
    .google {
        left:18%;
    }
  }

.blue{
    color: #628BE9;

}
.red{
    color: red;
}
.oran{
    color: orange;

}
.gren{
    color: green;
}


.topnav input[type=text] {
    position: absolute;
    border: 1px lightgrey solid;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 530px;
    height: 25px;
    left: 26.5%;
    margin: auto;
    margin-bottom:120px;
  }

  @media (min-width: 2px) and (max-width: 600px) {
    .topnav input[type=text] {
        left:18%;
        width: 370px;
    }
  }

.topnav input[type=text]:hover{
    box-shadow: rgba(163, 163, 163, 0.85) 0px 2px 3px 2px;
}

.buttons{
    position: absolute;
    margin-top: 60px;
    left:37%;
    height: 40px;
    padding-left: 10px;
}

@media (min-width: 2px) and (max-width: 700px) {
    .buttons {
        left:28%;
    }
  }

button{
    height: 30px;
    margin-left: 10px;
}

button:hover{
    box-shadow: rgba(163, 163, 163, 0.85) 0px 0px 1px 1px;
}

.message{
    position: absolute;
    margin-left:32%;
    margin-top: 90px;
}

@media (min-width: 2px) and (max-width: 700px) {
    .message {
        margin-left:14%;
    }
  }

p a{
    text-decoration: none;
}

p a:hover{ 
    text-decoration: underline;
}

.prefooter {
    margin-top: 370px;
    background: #f0f0f0;
    height: 30px;
    margin-bottom:10px;
    border-bottom: 4px solid black;
}

.prefooter p{
    color: grey;
    padding-top: 4px;
    padding-left: 8px;
}

footer p::before{
    content:'';
    background: url('https://img.favpng.com/3/8/4/green-leaf-logo-line-clip-art-png-favpng-fxJcXB4JdEM2jBmRwYkFGekk9.jpg');
    height: 15px;
    width: 15px;
    background-size: contain; background-repeat: no-repeat;
    position: absolute;
    left:45%
}

@media (min-width: 2px) and (max-width: 1320px) {
    footer p::before {
        display: none;
    }
  }


footer {
    background-color: #f0f0f0;;
    height: 70px;
    margin-top:-13px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid grey;
    color: grey;
}

@media (min-width: 2px) and (max-width: 600px) {
    footer {
        height: 95px;
    }
  }

.olist {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    display: inline;
    
}

.olist li a{
    text-decoration: none;
    list-style-type: none;
    display: block;
    color: grey;
}

.olist li a:hover{
    text-decoration: underline;

}

.list1{
    display: block;
    font-size: 14px;
    list-style-type: none;
    display: flex;
    float: left;
    font-family: sans-serif;
    margin-left: 40px;
}

footer li{
    padding:10px;
}

footer .list2{
    display: block;
    float: right;
    display: flex;
    margin-right:10px;
    margin-bottom: 10px;
    margin-right: 40px;
}

ol {
    padding: 8px;
}

