body {
    padding: 0;
    margin:0;
}

ul li{
    font-size: 14px;
    list-style-type: none;
    display: flex;
    font-family: sans-serif;
    margin-top: 10px;
}

.nav1 li{
    float:left;
    margin-left:9px;
}

.nav1 li:hover{
text-decoration: underline;
}

.nav2 li{
    float: right;
    padding: 10px;
    margin-right:10px;
    margin-bottom: 10px;
}

.nav2 li:hover{
    text-decoration: underline;
    }

.name {
    margin-top: 3px;
    background: #596C9A;
    border-radius: 50%;
    font-size: 14px;
    color: white;
    background-size: 32px 32px;
    border: 4px solid white;
}

.name:hover {
 border: 4px solid rgb(219, 218, 218);
}

.fas:hover{
    background: rgb(219, 218, 218);
    border-radius: 50%;
}

.clear{
    clear: both;
}

main {
    min-height: 150px;
    margin-left:10%;
    margin-right:10%;
    position: relative;
}

main p{
    display:inline;
    font-size: 80px;
    font-family: 'Lexend Mega', sans-serif;
    margin-left:-6px;
    font-weight: 600;
}

.google{
    color: black;
    position: absolute;
    margin-left:35%;
    margin-top:10px;
}

.blue{
    color: #628BE9;

}
.red{
    color: red;
}
.oran{
    color: orange;

}
.gren{
    color: green;
}


.topnav input[type=text] {
    border: 1px lightgrey solid;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 570px;
    height: 25px;
    margin-left:29%;
  }

.topnav input[type=text]:hover{
    box-shadow: rgba(163, 163, 163, 0.85) 0px 2px 3px 2px;
}

.buttons{
    margin-top: 30px;
    margin-left:40%;
    height: 40px;
    padding-left: 10px;
}

button{
    height: 30px;
    margin-left: 10px;
}

button:hover{
    box-shadow: rgba(163, 163, 163, 0.85) 0px 0px 1px 1px;
}

.message{
    margin-left:34%;
}

p a{
    text-decoration: none;
}

p a:hover{ 
    text-decoration: underline;
}

.prefooter {
    margin-top: 210px;
    background: #f0f0f0;
    height: 30px;
    margin-bottom:10px;
    border-bottom: 4px solid black;
}

.prefooter p{
    color: grey;
    padding-top: 4px;
    padding-left: 8px;
}

footer p::before{
    content:'';
    background: url('https://lh3.googleusercontent.com/proxy/NPj3Than34Ct5RY32lBptfpdrYJJyeK2kUexM7TbTelQoZtuY8sLggQcqfhwn4Nab_Aw3drdnLJ_7HwYdS8TwcfZm_OAcb8z8mk3D7tKHw7RdcWJxrHIHNX-iAS6NRG4Vd0N2QJvZ_84-WfzS4Kz');
    height: 15px;
    width: 15px;
    background-size: contain; background-repeat: no-repeat;
    position: absolute;
    left:45%
}


footer {
    background-color: #f0f0f0;;
    height: 70px;
    margin-top:-13px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid grey;
    color: grey;
}

.olist {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    display: inline;
    
}

.olist li a{
    text-decoration: none;
    list-style-type: none;
    display: block;
    color: grey;
}

.olist li a:hover{
    text-decoration: underline;

}

.list1{
    display: block;
    font-size: 14px;
    list-style-type: none;
    display: flex;
    float: left;
    font-family: sans-serif;
    margin-left: 40px;
}

footer li{
    padding:10px;
}

footer .list2{
    display: block;
    float: right;
    display: flex;
    margin-right:10px;
    margin-bottom: 10px;
    margin-right: 40px;
}

ol {
    padding: 8px;
}